body {
  font-size: 16px;
  color: black;
  background-color: #fff;
  font-family: 'Oxygen', sans-serif;
  box-sizing: border-box;
}

/** HEADER **/
#header-nav {
  background-color: grey;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/*MAIN-CONTENT*/

#main-tittle {
  text-align: center;
font-size: 1.8em;
text-transform: uppercase;
text-shadow: 1px 1px 1px #222;
margin-bottom: 20px;
}
section div {
  background-color: grey;
  border: 2px solid black;
  margin: 10px;
  overflow: auto;
 }
section h2 {
  text-align: center;
  font-size: 1.8em;
  text-transform: uppercase;
}
section p {
  font-size: .9em;
  padding: 5px;

}
